CN100.EnterprisePlatform.Configuration/CN100.EnterprisePlatform.Configuration.Designer/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="CN100.EnterprisePlatform.Configuration" elementFormDefault="qualified" targetNamespace="CN100.EnterprisePlatform.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CN100SectionGroup" type="tns:CN100.EnterprisePlatform.Configuration.CN100SectionGroupCT" />
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.DomainSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="urls" type="tns:CN100.EnterprisePlatform.Configuration.DomainElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Urls.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.CN100SectionGroupCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="CN100SectionGroup/domainSection" type="tns:CN100.EnterprisePlatform.Configuration.DomainSectionCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="CN100SectionGroup/imageSection" type="tns:CN100.EnterprisePlatform.Configuration.ImageSectionCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="CN100SectionGroup/mqSection" type="tns:CN100.EnterprisePlatform.Configuration.MqSectionCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="CN100SectionGroup/wcfSection" type="tns:CN100.EnterprisePlatform.Configuration.WcfSectionCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="CN100SectionGroup/styleSection" type="tns:CN100.EnterprisePlatform.Configuration.StyleSectionCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="CN100SectionGroup/emailSection" type="tns:CN100.EnterprisePlatform.Configuration.EmailSectionCT" />
			<xs:element minOccurs="0" maxOccurs="1" name="CN100SectionGroup/baseSection" type="tns:CN100.EnterprisePlatform.Configuration.BaseSectionCT" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.DomainElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="url" type="tns:CN100.EnterprisePlatform.Configuration.DomainElementCT">
				<xs:annotation>
					<xs:documentation>The DomainElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.DomainElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.WcfSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="hosts" type="tns:CN100.EnterprisePlatform.Configuration.WcfElementCollectionCT">
				<xs:annotation>
					<xs:documentation>wcf service address</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.ImageSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="urls" type="tns:CN100.EnterprisePlatform.Configuration.ImageElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Urls.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.MqSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="hosts" type="tns:CN100.EnterprisePlatform.Configuration.MqElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Hosts.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.WcfElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="items" type="tns:CN100.EnterprisePlatform.Configuration.WcfItemsElementCollectionCT">
				<xs:annotation>
					<xs:documentation>A collection of WcfElement instances.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.WcfElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="ip" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Service IP address</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>Service port number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isDefault" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsDefault.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.ImageElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="url" type="tns:CN100.EnterprisePlatform.Configuration.ImageElementCT">
				<xs:annotation>
					<xs:documentation>The ImageElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.ImageElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.MqElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="host" type="tns:CN100.EnterprisePlatform.Configuration.MqElementCT">
				<xs:annotation>
					<xs:documentation>The MqElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.MqElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="serviceName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ip" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Ip.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.StyleSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="urls" type="tns:CN100.EnterprisePlatform.Configuration.StyleElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Urls.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.StyleElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="url" type="tns:CN100.EnterprisePlatform.Configuration.StyleElementCT">
				<xs:annotation>
					<xs:documentation>The StyleElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.StyleElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.EmailSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="hosts" type="tns:CN100.EnterprisePlatform.Configuration.EmailElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Hosts.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.EmailElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="host" type="tns:CN100.EnterprisePlatform.Configuration.EmailElementCT">
				<xs:annotation>
					<xs:documentation>The EmailElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.EmailElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The mail server address</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="address" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Mailing address</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="account" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Mail server login</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Mail server login password</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.BaseSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="base" type="tns:CN100.EnterprisePlatform.Configuration.BaseElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Base.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.BaseElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="baseElement" type="tns:CN100.EnterprisePlatform.Configuration.BaseElementCT">
				<xs:annotation>
					<xs:documentation>The BaseElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.BaseElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.EnterprisePlatform.Configuration.WcfItemsElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:CN100.EnterprisePlatform.Configuration.WcfElementCT">
				<xs:annotation>
					<xs:documentation>The WcfElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
