other/MSMQ Host/CN100.MSMQ/MSMQSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:CN100.MSMQ" elementFormDefault="qualified" targetNamespace="urn:CN100.MSMQ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MSMQSection" type="tns:CN100.MSMQ.MSMQSectionCT" />
	<xs:complexType name="CN100.MSMQ.MSMQSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="Connections" type="tns:CN100.MSMQ.addCT">
				<xs:annotation>
					<xs:documentation>The Connections.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.MSMQ.addCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:CN100.MSMQ.ItemConfigCT">
				<xs:annotation>
					<xs:documentation>The ItemConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="MaxThreads" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxThreads.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.MSMQ.ItemConfigCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="connectionName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The connectionName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="queueName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The queueName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isTransactional" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The isTransactional.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
