CN100.EnterprisePlatform.Wcf.Sample/CN100.EnterprisePlatform.Wcf.Core/CN100.WcfService/ConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="CN100.WcfService" elementFormDefault="qualified" targetNamespace="CN100.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="wcfServiceSection" type="tns:CN100.WcfService.WcfServiceSectionCT" />
	<xs:complexType name="CN100.WcfService.WcfServiceSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="host" type="tns:CN100.WcfService.WcfServiceElementCT">
				<xs:annotation>
					<xs:documentation>The Host.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="items" type="tns:CN100.WcfService.InterfaceElementColletionCT">
				<xs:annotation>
					<xs:documentation>The Items.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="services" type="tns:CN100.WcfService.ServiceElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Services.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="version" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Version.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="serviceName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ServiceName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.WcfService.WcfServiceElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>"Service Name"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="iP" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>"IP"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>"Port number"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.WcfService.DllElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dllName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DllName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CN100.WcfService.InterfaceElementColletionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="interface" type="tns:CN100.WcfService.DllElementCT">
				<xs:annotation>
					<xs:documentation>The DllElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CN100.WcfService.ServiceElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="service" type="tns:CN100.WcfService.DllElementCT">
				<xs:annotation>
					<xs:documentation>The DllElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
